* {
    font-family: Arial, Helvetica, sans-serif; 
    box-sizing: border-box;
}

input {
    border-color: #F1F1F1;
    border-style: solid;
}

input:focus:invalid {
    background-color: #FCD0CD;
  }
  input:focus:required:valid {
    background-color: #D2EAD3;
  }
  
.Form__container {
    margin: auto;
    max-width: 640px;
}
  
.Form__title {
    text-align: center;
  }

.Form__wrapper {
    display: flex;
    padding: 8px 16px;
}

.Form__input-field-row {
    margin-bottom: 16px;
    display: flex;
}

.Form__input-field {
    flex: 1;
}

.Form__input-field + .Form__input-field {
    margin-left: 8px;
}

.Form__upload-wrapper {
    margin: 32px 0;
}

.Form__upload-label {
    display: inline;
    margin-right: 24px;
}

.Form__input-text {
    width: 100%;
    padding: 8px;
}

.Form__checkbox {
    margin: 16px 0; 
}

.Form__button-submit {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 8px;
    width: 100%
}

.Form__button-cancel {
    background-color: #F44336;
    color: white;
    font-size: 14px;
    padding: 16px;
    min-width: fit-content;
}

@media screen and (max-width: 480px) {
    
}

.Form__forgot-password {
    float: right;
    margin: 8px 24px;
}


.Form__footer {
    background-color: #F1F1F1; 
    padding: 24px 24px;
}
